@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


body{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('assets/retro-living-room-interior-design.jpg') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
li{
    display: inline;
    color: white;
    margin-left: 6vw;
    font-family: ubuntu;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 18vh;
}
nav{
    flex-basis: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}
.logo span{
    color: white;
    font-family: ubuntu;
    font-size: 2vw;
}
.logo{
    margin-top: 7vh;
}

ul{
    flex-basis: 70%;
    padding-top: 10vh;

}

.contact{
    flex-basis: 30%;
    display: flex;
    margin-top: 2vw;
    
}
.fa-solid.fa-phone-volume{
    font-size: 30px;
    padding-top: 5vh;
    padding-left: 6vw;
}
.contact i{
    color:white
}

.number h4,.number p{
    color:white;
    font-size: 19px;
    font-family: ubuntu;
    padding-top: 2vh;
    padding-left: 2vw;
}

.mid_div{
    height:35vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.mid_div h1{
    flex-basis: 60%;
    color: white;
    font-family: ubuntu;
    font-size: 5vw;
    padding-left: 7vw;
    padding-top: 7vw;
    

}

.mid_rht{
    flex-basis: 40%;
    

}
.mid_rec{
    background-color: rgb(50,76,94,0.7);
    height: 18vh;
    width: 18vw;
    margin-top: 8vh;
    padding-left: 1.5vw;
    padding-top: 1.8vh;
    margin-left: 3vw;
    

}

.mid_logo,.lower_logo{
    background-color: #fff;
    height: 5vh;
    width: 7vw;
    margin-top: 10px;
    border-radius: 20px;
}
.mid_logo i,.lower_logo i{
    font-size: 2.2vw;
    margin-left: 2.6vw;
    margin-top: .45vh;
}

.mid_rec p,.lower_rec p{
    color: white;
    font-family: ubuntu;
    padding-top: 2vh;
}
.ver_line{
    height: 5vh;
    width: 0px;
    border-right: 1.5px solid white;
    margin-left: 9vw;
}

.ver_dot{
    height: 2vh;
    width: 1vw;
    border: 8px solid white;
    margin-left: 8.567vw;
    border-radius: 2vw;
}


.lower_div{
    display: flex;
    flex-direction: row;
    height: 40vh;

}

.lower_button{
    flex-basis: 40%;
    padding: 7vh 0vw 0vw 10vw;

}
.lower_button button{
    width:15vw;
    height: 8vh;
    font-size: 1.5vw;
    background: none;
    font-weight: bolder;
    font-family: montserrat;
    color: white;
    border: 2px solid white;
    border-radius: 2vw;



}

.lower_rgt{
    flex-basis: 50%;
    display: flex;

}

.hor_line{
    height: 0px;
    width: 5vh;
    border-top: 1.5px solid rgb(255, 255, 255);
    margin-top: 9vw;}

.hor_dot{
    height: 2vh;
    width: 1vw;
    border: 8px solid white;
    margin-top: 16.24vh;
    border-radius: 2vw;
}

.lower_rec{
    background-color: rgb(50,76,94,0.7);
    height: 18vh;
    width: 18vw;
    margin-top: 9vh;
    padding-left: 1.5vw;
    padding-top: 1.8vh;
    margin-left: 6vw;
    

}